body
	background-color orange
h1
	color tomato
	text-align center
.title
	background-color white
.card
	background-color white
	height 200px
	width 250px
	padding 50px
	
.card:hover	
	transform translateY(5px)
.container
	background-color white
	padding 50px
	width 500px
	height 500px
	margin 150px auto 0			